.App .wrapper-main {
    display: flex;
    margin: 30px 20px;
}

.App .wrapper-main form {
    display: flex;
    margin-left: 30px;
}

@media (max-width: 650px) {
    .App .wrapper-main {
        flex-direction: column;
    }

    .App .wrapper-main form {
        display: flex;
        margin-left: 0;
    }
}